p{
    font-size: 3em;
    background-color:rgba(253, 251, 251, 0.3);
    
}

.paragraphe{
    /* height: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
     
}
.body-home{
    /* height: 80vh; */
    background-image: url(src/Tamal.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
/* Nav */
.main-nav-menu ul{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    height: 15vh;
    width: 100%;
    padding: 0;
}

.main-nav-menu ul li{
    list-style-type: none;
    border-right: 4px solid black;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-li-1{
    font-family:Arial, Helvetica, sans-serif;
    font-size : 1.8em;
    text-align: left;
    color: black;
    justify-content: flex-start;
    font-weight: bolder;
}

.nav-li-2{
    font-family:"Comic Neue";
    font-size : 2.0em;
    text-align: left;
    color: black;
    justify-content: center;
    font-weight: bolder;
}

.nav-li-3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size : 2.6em;
    text-align: center;
    color:blue;
    justify-content: center;
    font-weight: bolder;
}

.nav-li-4{
    font-family:"Comic Neue";
    font-size : 1.3em;
    text-align: left;
    color: black;
    justify-content: flex-end;
    font-weight: bolder;
}

.nav-li-5{
    font-family:"Comic Neue";
    font-size : 3.0em;
    text-align:center;
    color:gray;
    justify-content: center;
    font-weight:bolder;
}

.nav-li-6{
    font-family:"Comic Neue";
    font-size : 1.7em;
    text-align:right;
    color:red;
    justify-content: flex-start;
    font-weight: bolder;
}

.body-home{
    background-image: url(src/Tamal.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

