p,li{
    font-family:"Comic Neue";
    font-size : 1.1em;
    text-align: left;
    color: black;
}

.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }

  /* Navigation */
  .main-nav-menu {
    border: 4px solid black;
  }
  .main-nav-menu ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 20vh;
    position: relative;

  }
  .main-nav-menu ul li{
    list-style-type: none;
    font-weight: bold;
    /* border-right: 4px solid black; */
  }

  li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px; /* Épaisseur de la bordure */
    height: 100%;
    background: black;
    transform: skewY(-20deg); /* Inclinaison */
  }